.socialLinks button,
.socialLinks a {
  display: block;
  height: 25px;
  width: 30px;
  margin-top: 0;
}
.socialLinks a.github {
  background: url("../Images/github.png") no-repeat;
  background-size: 25px;
}
.socialLinks button.email {
  background: url("../Images/envelope.png") no-repeat;
  background-size: 25px;
  border: none;
  overflow: none;
  cursor: pointer;
}
.socialLinks {
  display: flex;
  justify-content:center;
}
textarea {
  z-index: -9999;
  height: 0;
  width: 0;
  padding: 0;
  border: none;
}
#copysuccess {
  display: none;
  text-align: center;
  margin-top: 12px;
}
